.container {
  width: 100%;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-inline: 1rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
  width: fit-content;
}

.yearSelectContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.scoreInput {
  width: 100px;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: text;
  max-width: 100px;
}
.scoreInput::-webkit-inner-spin-button,
.scoreInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.yearSelect {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
}

.quizScoresWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
  font-size: 0.95rem;
  text-align: left;
}

.tableHead {
  background: linear-gradient(to bottom, #e0e0e0, #a9a9a9);
  
}
.sortHeader {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    justify-content: space-between;
}

.headerCell {

  padding: 12px 16px;
  font-weight: 600;
  color: #222;
  border-right: 2px solid #888;
}

.headerCell:last-child {
  border-right: none; /* remove border on last column */
}


.row {
  transition: background-color 0.2s ease;
}

.evenRow {
  background-color: #f2f2f2;
}

.oddRow {
  background-color: #ffffff;
}

.cell {
  padding: 10px 16px;
  border-bottom: 1px solid #ccc;
  max-width: 200px;
  overflow-x: auto;
}

.row:hover {
  background-color: #e6f3ff;
}

.noData {
  color: #555;
  font-style: italic;
  padding: 1rem;
}

.tabBar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.tab {
  padding: 8px 18px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #666;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.tab:hover {
  color: #0070C0;
}

.activeTab {
  color: #0070C0;
  border-bottom: 3px solid #0070C0;
  font-weight: 600;
}