.top_user_table_head{
  cursor: pointer;
}

.user_table_head {
  background: linear-gradient(to bottom, #E5E5E5, #C3C3C3);
}
.user_table_head_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}




